# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
PUBLIC_CAL_LINK=""

# Admin Authentication
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password123

# CAL API
CAL_API_KEY=
CAL_WEBHOOK_SECRET=

# ENCRYPTION
ENCRYPTION_KEY=your-encryption-key

# GOOGLE API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALENDAR_ID=